@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Playfair+Display&family=Roboto+Condensed:ital,wght@1,300&family=Roboto:ital,wght@1,300&display=swap");
.body {
  min-height: 100vh;
  background: rgb(69, 200, 252);
  background: linear-gradient(
    90deg,
    rgba(69, 200, 252, 1) 12%,
    rgba(58, 180, 161, 0.7672413793103449) 50%,
    rgba(29, 250, 253, 1) 90%
  );
}
.editor {
  background-color: white;
}
.form-group {
  text-transform: uppercase;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
footer {
  background-color: black;
  color: aquamarine;
  text-align: center;
}
