@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Playfair+Display&family=Roboto+Condensed:ital,wght@1,300&family=Roboto:ital,wght@1,300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.navbar {
    background-image: linear-gradient(
            to right,
            rgba(217, 255, 0, 0),
            rgb(109, 153, 235)
    );
}

.search {
    background-image: linear-gradient(
            to right,
            rgba(217, 255, 0, 0),
            rgb(109, 153, 235)
    );
    width: 100%;
    height: 100vh;
}

.container {
    position: relative;
    top: 30%;
    left: 5%;
    transform: translate(-5%, 30%);
}

.intro {
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    color: rgb(22, 25, 27);
}

.input-text:focus {
    box-shadow: 0px 0px 0px;
    border-color: #f8c146;
    outline: 0px;
}

.form-control {
    border: 1px solid #f8c146;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.create {
    padding: 10px;
}
