@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Playfair+Display&family=Roboto+Condensed:ital,wght@1,300&family=Roboto:ital,wght@1,300&display=swap");
.body {
  background-color: rgb(152, 248, 203);
  height: 100vh;
}
.grid {
  display: grid;
  place-items: center;
}
.publish {
  font-size: 25px;
  font-family: "Playfair Display", serif;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.view {
  display: flex;
  padding: 10px;
}
footer {
  background-color: black;
  color: aquamarine;
  text-align: center;
}
