{% extends 'base/base.html' %}
{% block content %}
    {% if about %}
    <article>
      <div class="about">
        <div class="container-fluid">
          <h3 class="text-center">About us</h3>
          <div class="jumbotron">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta
            quis, modi accusantium dignissimos doloribus similique quo dolorum
            nam quam aspernatur unde recusandae cumque dolores amet tempore
            numquam impedit. Sed, libero! Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Officia eius inventore alias facere voluptates,
            rem quaerat culpa. Esse, quos nihil. Molestias accusamus repellat,
            hic perferendis ipsam est obcaecati similique numquam? Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Harum perferendis nemo
            quibusdam odio inventore aut sit magni consectetur, quis facere
            ratione, nam labore quos modi architecto quidem repellat doloribus
            nesciunt! Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Necessitatibus eligendi, inventore quibusdam suscipit doloremque
            tempore ad, obcaecati delectus vitae placeat praesentium neque ullam
            adipisci commodi molestiae reiciendis natus quidem magnam! Lorem
            ipsum dolor sit amet consectetur, adipisicing elit. Voluptas, sunt
            provident. Ipsum nobis quas accusamus fugit consectetur numquam
            aliquid asperiores temporibus dolorum atque sapiente at, ipsam
            quisquam adipisci pariatur natus.
          </div>
        </div>
      </div>
    </article>
    {% endif %}
    {% if disclaimer %}
    <article>
      <div class="about">
        <div class="container-fluid">
          <h3 class="text-center">Disclaimer</h3>
          <div class="jumbotron">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta
            quis, modi accusantium dignissimos doloribus similique quo dolorum
            nam quam aspernatur unde recusandae cumque dolores amet tempore
            numquam impedit. Sed, libero! Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Officia eius inventore alias facere voluptates,
            rem quaerat culpa. Esse, quos nihil. Molestias accusamus repellat,
            hic perferendis ipsam est obcaecati similique numquam? Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Harum perferendis nemo
            quibusdam odio inventore aut sit magni consectetur, quis facere
            ratione, nam labore quos modi architecto quidem repellat doloribus
            nesciunt! Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Necessitatibus eligendi, inventore quibusdam suscipit doloremque
            tempore ad, obcaecati delectus vitae placeat praesentium neque ullam
            adipisci commodi molestiae reiciendis natus quidem magnam! Lorem
            ipsum dolor sit amet consectetur, adipisicing elit. Voluptas, sunt
            provident. Ipsum nobis quas accusamus fugit consectetur numquam
            aliquid asperiores temporibus dolorum atque sapiente at, ipsam
            quisquam adipisci pariatur natus.
          </div>
        </div>
      </div>
    </article>
    {% endif %} 
{% endblock %}
