{% extends 'base/base.html' %} {% block head_block %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/instructions.css') }}"
/>
<script src="{{ url_for('static', filename='js/instructions.js') }}"></script>
{% endblock %} {% block content %}

<div class="info" id="">
  <br />
  <div class="container-fluid">
    <ul>
      <li>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque est animi
        officia alias possimus, et vel! Asperiores libero incidunt iste quo quia
        voluptates quas, voluptate soluta consequatur doloribus officia cumque.
      </li>
      <br />
      <li>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati sunt
        quae possimus officia. Commodi sequi nulla voluptas deleniti provident
        reprehenderit, quas accusamus, delectus possimus esse, sunt reiciendis
        fugit? Distinctio, quod!
      </li>
      <br />
      <li>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem porro
        labore quod, ex dicta ipsum incidunt praesentium expedita facilis
        officiis earum iste fugit quaerat veritatis est sapiente explicabo a
        architecto.
      </li>
      <br />
      <li>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis et
        officia nihil molestias placeat neque facilis voluptatem! Ex amet,
        consequatur quam nobis ut perferendis ratione atque recusandae
        laboriosam nulla ipsum.
      </li>
      <br />
      <li>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem
        corrupti culpa, fugiat obcaecati ratione facere? Ut reiciendis dicta
        quae similique asperiores atque rerum tempore, necessitatibus
        repellendus, error esse, perferendis voluptate!
      </li>
    </ul>
    <form
      onsubmit="return validateForm(this)"
      action="{{ url_for('blogs.create_post') }}"
    >
      <div class="down1">
        <div class="check">
          <input type="checkbox" id="agree" />
          <label for="agree">I agree</label>
          <label style="visibility: hidden; color: red" id="agree_chk_error">
            Can't proceed as you didn't agree!
          </label>
        </div>
        <div class="back">
          <button type="submit" class="btn btn-danger">create</button>
        </div>
      </div>
    </form>
    <div class="back">
      <a href="{{ url_for('blogs.home_view') }}">
        <button class="btn btn-info">
          <i class="fas fa-backward"></i> Back
        </button>
      </a>
    </div>
    <br />
  </div>
</div>

{% endblock %}
